* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monsterrat, sans-serif;
  }
  
  input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
  }
  
  .App2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
  }
  
  form {
    display: block;
    position: relative;
  }
  

  
  form .form-inner {
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 100px;
    z-index: 2;
  }
  
  form .form-inner h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  form .form-inner .form-group {
    display: block;
    color: #666;
    width: 300px;
    margin-bottom: 15px;
  }
  
  .form-inner .form-group label {
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
  }
  
  .form-inner .form-group:focus-within label {
    color: #FE4880;
  }
  
  form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    transition: 0.4s;
  }
  
  form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
  
  form .form-inner input[type="submit"],
  .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8 px;
    background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
  }
  
  form .form-inner input[type="submit"]:hover,
  .welcome button:hover {
    background-position: 100% 0%;
  }
  
  .welcome {
    width: 100%;
    max-width: 8000px;
    max-height: 7500px;
    background-color: #fff;
    padding: 15px 30px;
  }
  
  .welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .welcome h2 span {
    color: #FE4880;
    font-weight: 700;
  }
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }